{% extends "base.html" %}
{% block title %}Library Loan System - Create User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>
div {
  position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

</style>


<div>
    <h2>You have been Logged Out.</h2>
    <br>
    <form action="/login">
        <input type="submit" value="Click here to login">
    </form>
    <br>
    <form action="/home">
        <input type="submit" value="Click here to go to Home page">
    </form>
</div>


{% endblock %}