{% extends "base.html" %}
{% block title %}AFA - Retrieve Event{% endblock %}

{% block content %}
{% if 'event_created' in session %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('event_created', None) }} was created.
</div>
{% elif 'event_updated' in session %}
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('event_updated', None) }} was updated.
</div>
{% elif 'event_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('event_deleted', None) }} was deleted.
</div>
{% endif %}
<h1 class="display-4">Retrieve Event</h1>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Title</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>URL</th>

        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for event in events_list %}
      <tr>
        <td>{{ event.get_event_id() }}</td>
        <td>{{ event.get_title() }}</td>
        <td>{{ event.get_date() }}</td>
        <td>{{ event.get_starttime() }}</td>
        <td>{{ event.get_endtime() }}</td>
        <td>{{ event.get_url() }}</td>
        <td><a href="/updateEvent/{{event.get_event_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_event', id=event.get_event_id())}}" method="POST">
              <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{event.get_event_id()}}">
            Delete
          </button>

            <!-- The Modal -->
            <div class="modal" id="myModal_{{event.get_event_id()}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{event.get_title()}} ?
                  </div>


                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}