{% extends "base.html" %}
{% block title %}AFA - Create User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>
body{
    background-image: url('static/img/genshinbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
h1{
    text-decoration: underline;
    text-align: center;
    }

.m{
    background-color: lightblue;
    text-align: center;
    width: 30%;
    border: 1px solid green;
    padding: 5px;
    margin: auto;
    }

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 5px;

}

</style>
<body>
<h1 class="display-4">Your Cart</h1>

    <div>
           {% for product in products_list %}
                {% if product.get_category() == "P"  %}

    <div class="m">
                    <form method="GET" action="/shoppingCart/{{ product.get_product_id() }}">
                        <button>View Cart</button>
                    </form>
    </div>

                {% endif %}
            {% endfor %}

    </div>

</body>

{% endblock %}